<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../static/js/electron.setup.js"></script>
    <script>
        init()
    </script>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Romes" />
    <meta name="keywords" content="Jamb Practico" />
    <meta name="description" content="Jamb Practico" />
    <title>
        Jamb Practico
    </title>
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/img/favicon.png" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/bootstrap-select.css" />
    <link href="../static/font/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/main.min.css" />
</head>

<body class="dark-bg">
    <div class="wrapper">
        <!-- HEADER -->
        <header class="d-header d-shadow-btm">
            <nav class="navbar justify-content-between flex-nowrap">
                <a class="navbar-brand" href="index.html">
                    <!-- <img
              class="img-thumbnail img-fluid dashboard-logo"
              src="../static/img/logo.jpg"
              alt="left logo"
            /> -->
                    Jamb Practico
                </a>
                <div class="text-white text-right f-w--6 d-none d-md-block" id="user-name">
                    James Anderson
                </div>
                <script>
                    document.querySelector('#user-name').innerHTML = getSettings()['name']
                </script>
                <!-- <button
            type="button"
            class="btn btn-primary navbar-toggler border-0 d-sm-none ml-4"
            data-toggle="collapse"
            data-target="#sidebarNav"
            aria-expanded="false"
            aria-controls="sidebarNav"
            aria-label="Toggle sidebar nav"
          >
            <i class="icon ion-ios-menu d-f4"></i>
          </button> -->
                <div class="d-none d-block d-md-none d-semi-close-nav mr-3" id="d-semi-close-nav">
                    <i class="icon ion-ios-menu d-f4 text-white"></i>
                </div>
            </nav>
        </header>
        <div class="container-fluid d-main-con">
            <div class="flex-sm-nowrap">
                <!-- SIDEBAR -->
                <aside class="d-sidebar border-sm-right text-truncate">
                    <div class="text-white text-center f-w--6 d-md-none py-2 pt-4 px-2 text-capitalize text-wrap">
                        Anderson stone
                    </div>
                    <div class="line-bottom line-thick line-color-secondary col-4 mx-auto d-md-none"></div>
                    <div class="py-2 pt-4">
                        <div class="d-title text-uppercase px-2">Menu</div>
                    </div>
                    <nav class="d-nav-links py-2 px-0" id="sidebarNav">
                        <ul class="nav flex-column">
                            <li class="nav-item ">
                                <a href="index.html" class="nav-link d-sidebar-active d-flex align-items-center justify-content-start">
                                    <span class="badge mr-2 d-sidebar-icon"><i class="icon ion-ios-home"></i></span>
                                    <span class="align-text-bottom">Dashboard</span>
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <!-- 
                            <li class="nav-item">
                                <a href="logout.html" class="nav-link d-flex align-items-center justify-content-start">
                                    <span class="badge mr-2 d-sidebar-icon"><i class="icon ion-ios-lock-outline"></i></span>
                                    <span class="align-text-bottom">Logout</span>
                                </a>
                            </li> -->
                        </ul>
                    </nav>
                </aside>
                <!-- MAIN CONTENT -->
                <main class="px-3 d-content">
                    <div>
                        <div class="page-title py-3">
                            <span class="bg-dark text-white p-2 rounded">
                                <span>Fill in exam details</span>
                                <i class="icon ion-ios-arrow-down icon-w"></i>
                            </span>
                        </div>
                    </div>
                    <div class="card shadow">
                        <div class="card-body">
                            <div>
                                <form action="#" method="post" class="form-horizontal">
                                    <div class="row">
                                        <div class="form-group col-12 col-sm-6">
                                            <label for="name">Name:</label>
                                            <input type="text" name="name" id="name" class="form-control" placeholder="Your name" aria-describedby="helpname" required />
                                            <small id="helpname" class="text-muted">What should we call you?</small>
                                        </div>
                                        <div class="form-group col-12 col-sm-6">
                                            <label for="email">Email:</label>
                                            <input type="email" name="email" id="email" class="form-control" placeholder="Your Email" aria-describedby="helpemail" required />
                                            <small id="helpemail" class="text-muted">Where should we reply you?</small>
                                        </div>
                                        <script>
                                            document.querySelector('#name').value = getSettings()['name'] ? getSettings()['name'] : ''
                                            document.querySelector('#email').value = getSettings()['email'] ? getSettings()['email'] : ''
                                        </script>
                                    </div>
                                    <div class="row">
                                        <!-- 
                                        <div class="form-group col-12 col-sm-6">
                                            <label for="subject">Year:</label>
                                            <select class="custom-select" name="subject" id="subject" aria-describedby="helpsubject">
                                                <option selected disabled>Select one:</option>
                                                <option>2013</option>
                                                <option>2014</option>
                                                <option>2015</option>
                                                <option>2016</option>
                                                <option>2017</option>
                                                <option>2018</option>
                                                <option>2019</option>
                                            </select>
                                            <small id="helpsubject" class="text-muted">Select year</small>
                                        </div> -->
                                        <div class="form-group col-12 col-sm-6">
                                            <label for="subject">Subject:</label>
                                            <select class="selectpicker" multiple required>
                                                <option>English</option>
                                                <option>Mathematics</option>
                                                <option>Economics</option>
                                                <option>Accounting</option>
                                            </select><br>
                                            <small id="helpsubject" class="text-muted">Select your subject of interest</small>
                                        </div>
                                    </div>
                                    <!-- 
                                    <div class="form-group">
                                        <label for="question_num">
                                            Number of questions:
                                            <span id="current_q_num">100</span>
                                        </label>
                                        <input id="question_num" class="custom-range" type="range" name="question_num" min="5" max="150" value="100" aria-describedby="helpquestion_num" />
                                        <small id="helpquestion_num" class="text-muted">Drag to Select number of questions</small>
                                    </div> -->
                                    <div class="form-group text-center mt-4">
                                        <button type="button" data-toggle="modal" data-target="#modal-fixed" class="btn btn-success btn-lg show-modal">
                                            Start Exam
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-fixed" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header py-2 bg-light">
                        <h5 class="modal-title text-center">
                            Ready to rumble?
                        </h5>
                        <div class="pl-2">
                            <small>
                                Please read the following instructions like your life depends
                                on it!</small>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify f-xs--4">
                            We at Jamb Practico hereby holds no responsibility to any
                            mental, social, physical or spiritual damage that may or may not
                            arise as a result of the difficulty of our questions.
                        </p>
                        <p class="text-justify f-xs--4">
                            Our sole objective is the tempering of young minds to conquer
                            and dominate the world purely with their intellect and we
                            believe Jamb Practico is step towards achieving this goal.
                        </p>
                        <p class="text-justify f-xs--4">
                            We sincerely urge you to answer thus in sickness and in health
                            to please carry on at your own risk.
                        </p>
                    </div>
                    <div class="modal-footer py-2">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">
                            Not sure!
                        </button>
                        <button id="start" type="button" class="btn btn-success" data-dismiss="modal">
                            OK! lets go
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/bootstrap-select.min.js"></script>
    <script src="../static/js/main.min.js"></script>
</body>

</html>
<script>
$('select').selectpicker()

document.querySelector('#start').onclick = () => {
    let params = {
        Name: document.querySelector('#name').value,
        Email: document.querySelector('#email').value,
        Subject: []
    }
    for (i = 0; i < $(`select`).find("option:selected").length; i++) {
        // console.log($(`select`).find("option:selected")[i])
        let opt = $(`select`).find("option:selected")[i]
        console.log(opt.value, $(`select`).find("option:selected").length)
        params.Subject.push(opt.value)
    }
    for (param in params) {
        if (params[param] == '') {
            alert(`${param} is required`)
            return
        }
    }
    if ($('select').val().length > 3) {
            alert('Maximum number of subjects to be selected is 4')
            return
        }
    let now = new Date()
    let time = 20 * params.Subject.length
    console.log(time)
    let examEnd = now.setMinutes(now.getMinutes() + time)
    console.log(examEnd)
    localStorage.setItem('examEnd', examEnd.toString())
    localStorage.setItem('subjects', JSON.stringify(params.Subject))
    location.assign('./exam.html')
}
</script>