<!DOCTYPE hdl>
<html lang="en">

<head>
    <script src="../static/js/electron.setup.js"></script>
    <script>
        loginInit()
    </script>
    <meta http-equiv="Content-Type" content="text/hdl;charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Romes" />
    <meta name="keywords" content="Jamb Practico" />
    <meta name="description" content="Jamb Practico" />
    <title>
        Jamb Practico
    </title>
    <link rel="shortcut icon" href="../static/img/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/img/favicon.png" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link href="../static/font/ionicons/css/ionicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="../static/css/main.min.css" />
</head>

<body>
    <div class="wrapper wrapper-bg bg-fullscreen d-flex justify-centent-center align-items-center">
        <div class="d-bg-img">
            <div class="row py-2 w-100">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4 m-auto">
                    <div class="d-box rounded">
                        <div class="d-box-back d-flex justify-content-start align-items-center">
                            <a href="../index.html" class="d-black-50">
                                <i class="ion-ios-home"></i>
                                <span class="f-w--6">Home</span>
                            </a>
                        </div>
                        <h4 class="d-box-header d-box-header__title text-center border-bottom mb-3 pb-3 d-black-50">
                            Student Login
                        </h4>
                        <div class="d-box-body">
                            <form action="#" class="form-horizontal">
                                <div class="form-group">
                                    <label for="userEmail">Email:</label>
                                    <div class="input-group clearfix">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-success text-white p-0 px-2">
                                                <i class="icon ion-ios-at-outline icon-x icon-w"></i>
                                            </div>
                                        </div>
                                        <input type="email" class="form-control" name="userEmail" id="userEmail" placeholder="Email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="userEmail">Password:</label>
                                    <div class="input-group clearfix">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text bg-success text-white p-0 px-2">
                                                <i class="icon ion-ios-unlock-outline icon-x icon-w"></i>
                                            </div>
                                        </div>
                                        <label for="userAddress" class="sr-only">Password</label>
                                        <input type="password" name="userPass" id="userPass" class="form-control" placeholder="Password" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <p class="form-text">
                                        <button type="button" data-toggle="modal" data-target="#modal-help" class="btn btn-sm btn-block btn-dark">
                                            Dont have login details?
                                        </button>
                                    </p>
                                </div>
                                <div class="form-group text-center mt-4">
                                    <button type="submit" class="btn btn-lg btn-block btn-success">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-help" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header py-2 bg-light">
                        <h5 class="modal-title">How to obtain login details</h5>
                    </div>
                    <div class="modal-body">
                        You can get your login details by contacting us here: Lorem ipsum
                        dolor sit amet consectetur, adipisicing elit. Quasi or visit:
                        <a href="http://jambpractico.com" class="btn btn-sm btn-success">Jamb practico webpage</a>
                    </div>
                    <div class="modal-footer py-2">
                        <button type="button" class="btn btn-dark" data-dismiss="modal">
                            OK! Got it
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/main.min.js"></script>
</body>

</html>